<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="/mnt/fedora_disk2/Projects2/ergoproxy/.nuget/packages" />
  </config>
  <packageSources>
    <clear />
    <add key="local-packages" value="/mnt/fedora_disk2/Projects2/ergoproxy/.nuget/packages" />
  </packageSources>
</configuration>
